@model ASI.Basecode.Services.Models.BookViewModel

@{
    ViewBag.ShowSideBar = true; 
    ViewData["Title"] = "Book Details";
}

<style> 

    img.book-image {
        max-width: 300px;
        height: auto;
        margin-top: 10px;
    }

    .center-content {
        text-align: center;
    }
     
</style>

<h2 class="form-title">Book Details</h2>

<div class="form-container container">
   
    <div class="row">
        <div class="col center-content"><img src="@Model.Image" alt="Book Cover" class="book-image" /><p>Book Image</p></div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>@Model.ISBN</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <th>Authors</th>
                            <td>
                                @foreach (var authorName in Model.AuthorNames)
                                {
                                    <div>@authorName</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Genres</th>
                            <td>
                                @foreach (var genreName in Model.GenreNames)
                                {
                                    <div>@genreName</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>@Model.Language</td>
                        </tr>
                        <tr>
                            <th>Published On</th>
                            <td>@Model.PublishedOn</td>
                        </tr>
                        <tr>
                            <th>Page Count</th>
                            <td>@Model.PageCount</td>
                        </tr>
                    </table> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-right col-center">
                @Html.ActionLink("Back to List", "Index", new { @class = "btn-back btn-padd" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-padd btn btn-success" })
            </div>
        </div>
    </div> 
</div>

