@model IEnumerable<ASI.Basecode.Services.Models.BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<section class="skooby-section skooby-dashboard">
    <div class="container-wrapper">
        <div class="content-wrapper">
            @foreach (var genreGroup in Model.GroupBy(book => book.GenreNames))
            {
                <div class="book-genre">
                    <h4>@genreGroup.Key.FirstOrDefault()</h4>
                    <hr />
                    <div class="book-wrapper">
                        @foreach (var book in genreGroup)
{
    <div class="book-content">
        <a href="@Url.Action("Details", "Book", new { id = book.Id })">
            <div class="book-image-preview">
                <img class="book-image" src="@book.Image ?? "~/img/book-preview.png"" alt="Book Cover" />
            </div>
        </a>
        <div class="book-info-card" id="per-book-info-@book.Id">
            <h5 class="book-title book-text">@book.Name</h5>
            <p class="author-name book-text">by @string.Join(", ", book.AuthorNames) • @book.PublishedOn.Year</p>
            <p class="book-description book-text">@book.Description</p>
            <!-- Additional info like rating and reviews could be added here -->
        </div>
    </div>
}

                    </div>
                </div>
            }
            <!-- Pagination and other components can be added here -->
        </div>
        <div class="sidebar-container">
            <!-- Sidebar content here -->
        </div>
    </div>
    <div class="sidebar-content">
        <h2 class="sidebar-title">Filter</h2>s
        <form class="d-flex filter-searchbar" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-button" type="submit">Search</button>
        </form>
        <div class="filter-category-container">
            <p class="filter-category-titles">art</p>
            <p class="filter-category-titles">biography</p>
            <p class="filter-category-titles">sci-fi</p>
            <p class="filter-category-titles">religion</p>
            <p class="filter-category-titles">kids</p>
            <p class="filter-category-titles">history</p>

        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@* JQuery Script for deletion (calls delete method in controller as http) *@
<script>
    $(document).ready(function () {
        $(".btn-danger").click(function () {
            var url = $(this).data("url");
            if (confirm("Are you sure you want to delete this book?")) {
                $.post(url, function (data) {
                    location.reload();
                }).fail(function () {
                    alert('Unable to delete.');
                });
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>