@model IEnumerable<ASI.Basecode.WebApp.Models.BookViewModel>

<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.AuthorName</td>
                <td>
                    <a href="@Url.Action("Details", "Book", new { id = book.Id })">Details</a> |
                    <a href="@Url.Action("Edit", "Book", new { id = book.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "Book", new { id = book.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Book")">Add New Bossok</a>